

.SinglePostDiv{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    width: 75%;
    margin: 0 auto;

}

.SinglePostDiv i{
    margin:0em 2em;
}

.AddComments {
    display: flex;
}

.AddLike{
    font-size: 2em;
}

